<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choose a station page</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/js.js"></script>
</head>

<body onload="Greeting()">
    <div class="container">
        <img class="logo" src="../static/ChargedUp.jpg">
        <a href="SighIn.html"><button class="logOut" type="submit">Log out from the site</button></a>
        <div class="HomePage">
            <h1 id="greet"></h1>
            <h2>you choosed amikam station</h2>
            <button id="ReportButton" onclick="ShowHideReport()" type="submit">Show Report</button>
        </div><br>
        <table id="Report" class="Reports">
            <tr>
                <th>hour</th>
                <th>26/5</th>
                <th>27/5</th>
                <th>28/5</th>

            </tr>
            <tr>
                <td>08:00</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>

            </tr>
            <tr>
                <td>08:15</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td>not available</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
            </tr>
            <tr>
                <td>08:30</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>

            </tr>
            <tr>
                <td>08:45</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td>not available</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>

            </tr>
            <tr>
                <td>09:00</td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td><a href="finalPage.html">
                        <button type="submit">available</button>
                    </a></td>
                <td>not available</td>

            </tr>

        </table>
    </div>
</body>

</html>