<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final Page choosing a charger</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/js.js"></script>
</head>

<body>
    <div class="container">
        <img class="logo" src="../static/ChargedUp.jpg">
        <a href="SighIn.html"><button class="logOut" type="submit">Log out from the site</button></a>
        <div class="HomePage">
            <h1 id="greet"></h1>
            <h2>thank you for attanding. <P>your reservation for charger will be saved for 15 min.</P>
            </h2>
        </div><br>
    </div>
</body>

</html>