doctype html
html
    head 
        link(rel="stylesheet", href="style.css")
        script(defer, src="JS.js")
        title Charged Up - finding electric stations arount you
    body
        .container
            img.logo(src="ChargedUp.jpg", alt) 
            block content 