extends layout 
block content
  .split__left
    h1#welcome  Welcome to EV charge finder
    h2 dont worry! here you can find the nearst stations around you
  .split__right
    form.form(action="/newUser", method="post" ,onsubmit="return validation()")
      h1.form__title Create New User
      input#fName.form__input(type="text", required ,autofocus placeholder="First Name")
      br
      input#lName.form__input(type="text",required, autofocus, placeholder="Last Name")
      br
      input.form__input(type="email" ,required ,autofocus, placeholder="Email Address")
      br
      input#newUsername.form__input(type="text" ,required ,autofocus ,placeholder="Choose Username")
      br
      input#newPassword.form__input(type="password", required, autofocus ,placeholder="input your car number")
      br
      div#massage.errorMassage #{SignUpError}
            button(type="submit") Create
      p.bottomLine
         | Already have an account? 
          a(href="/") Sign In here
