* {
    background-color: lightblue;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
}

.GridContainer {
    display: grid;
    background-color: #b9936c;
    grid-template-areas: 'Gheader Gheader'
        'Gleft Gright';
}

.GridHeader {
    grid-area: Gheader;
    background-color: #dac292;
    font-size: 20px;
    animation: Sizeup 2s 2s infinite ease-in-out;
}

.GridLeft {
    grid-area: Gleft;
    background-color: #e6e2d3;
}

.GridRight {
    grid-area: Gright;
    background-color: #c4b7a6;
}

@media screen and (max-width: 600px) {
    .GridContainer {
        display: grid;
        background-color: chocolate;
        grid-template-areas: 'Gheader Gheader'
            'Gleft Gright';
    }
}



@keyframes Sizeup {
    0% {
        font-size: 20px
    }

    50% {
        font-size: 30px
    }

    100% {
        font-size: 20px
    }
}

;